<!DOCTYPE html>
<html class="fixed">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRMS | Payroll | @ViewBag.Title</title>

    @* --- [1] SERVER-SIDE VALIDATION & SETUP --- *@
    @{
        // 1. Extract Session Objects safely
        var sessionName = Session["UserName"];
        var sessionEmail = Session["UserEmail"];
        var sessionId = Session["UserId"];

        // 2. Security Check: If Session is dead, redirect immediately.
        // This prevents the page from loading half-way and crashing.
        if (sessionName == null || string.IsNullOrWhiteSpace(sessionName.ToString()))
        {
            Response.Redirect("https://iehrms.iecsl.in/Account/ChoosePortal.aspx", true);
            return; // Stop execution
        }

        // 3. Store in variables for safe usage in HTML
        string currentUserName = sessionName.ToString();
        string currentUserEmail = sessionEmail != null ? sessionEmail.ToString() : "";
        string currentUserId = sessionId != null ? sessionId.ToString() : "";

        // 4. Define Restricted User Logic (Centralized)
        // This replaces the repeated if-conditions for "annyatama..." inside the HTML
        bool isRestrictedUser = currentUserName.Trim().Equals("annyatama.panda@mendine.co.in", StringComparison.OrdinalIgnoreCase);
    }

    <meta name="keywords" content=" " />
    <meta name="description" content="uniCONTROL Admin">
    <meta name="C.G" content="ttms-us.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    @* --- CSS LIBRARIES --- *@
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/Contents/css/bootstrap.css" />
    <link href="~/Contents/css/custom-icon-set.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Contents/fonts/font-awesome/css/font-awesome.css" />
    <link href="~/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />

    <link href="~/plugins/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/plugins/morris/morris.css" rel="stylesheet" />
    <link href="~/plugins/dropzone/css/dropzone.css" rel="stylesheet" />
    <link href="~/plugins/jquery-datatables-bs3/assets/css/datatables.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Contents/css/theme.css" />
    <link href="~/Contents/css/skins/default.css" rel="stylesheet" />
    <link href="~/Contents/css/theme-custom.css" rel="stylesheet" />

    <link href="~/Content/CHOSEN/chosen.css" rel="stylesheet" />
    <link href="~/Content/SELECT2/select2.min.css" rel="stylesheet" />

    <script src="~/plugins/modernizr/modernizr.js"></script>
    <script src="~/Contents/SweetAlert/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/Contents/js/jquery-3.3.1.min.js"></script>

    @*Date Picker*@
    <link href="~/Contents/jquery-ui-datepicker/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Contents/jquery-ui-datepicker/external/jquery/jquery.js"></script>
    <script src="~/Contents/js/jquery-ui-1.12.1.min.js"></script>

    @*Validation Scripts*@
    <script src="~/Contents/js/jquery.validate.js"></script>
    <script src="~/Contents/js/jquery.validate.unobtrusive.js"></script>

    <script>
        $(function () {
            $("#Logout").click(function () {
                // Logout Logic
                // window.location.href = 'https://www.microsoft.com';
            });
        });
    </script>
</head>
<body>
    <section class="body">

        <header class="header">
            <div class="logo-container">
                <a href="" class="logo">
                    <span style="font-size: 30px;font-weight: bold; margin-top: 10px;"> PAYROLL</span>
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>
            <div class="header-right" style="margin-top: 10px;">
                <div id="userbox" class="userbox">
                    <div class="profile-info">
                        <span class="name">
                            <a role="menuitem" id="Logout" href="https://iehrms.iecsl.in/Account/ChoosePortal.aspx"> GO TO MODULE </a> |
                            <span class="" id="useremail">@currentUserName</span>
                            <input type="hidden" id="hdUserEmail" value="@currentUserEmail" />
                            <input type="hidden" id="hdUserID" value="@currentUserId" />
                            <input type="hidden" id="hdUserName" value="@currentUserName" />
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <div class="inner-wrapper">

            <aside id="sidebar-left" class="sidebar-left">
                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">

                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-cogs" aria-hidden="true"></i>
                                        <span>Configuration</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="/SalaryConfig/PayComponentMaster"><i class="fa fa-caret-right"></i><span>Pay Config</span></a></li>
                                        <li><a href="/PayGroup/"><i class="fa fa-caret-right"></i><span>Pay Group</span></a></li>
                                        <li><a href="/SalaryConfig/SalaryStructureConfiguration"><i class="fa fa-caret-right"></i><span>Salary Configuration</span></a></li>
                                        <li><a href="/SalaryConfig/StatutoryRuls"><i class="fa fa-caret-right"></i><span>Statutory Rules</span></a></li>
                                        <li><a href="/payrollTds/PayrollTdsSettings"><i class="fa fa-caret-right"></i><span>Tds Configaration</span></a></li>

                                    </ul>
                                </li>

                                <!-- TRANSACTION -->
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-exchange" aria-hidden="true"></i>
                                        <span>Transaction</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/SalaryCTC/">
                                                <i class="fa fa-caret-right"></i>
                                                <span>Employee Salary Structure</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/SalaryCTC/SalaryRevision">
                                                <i class="fa fa-caret-right"></i>
                                                <span>Employee Salary Revision</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Loan/NewLoanEntry">
                                                <i class="fa fa-caret-right"></i>
                                                <span>Employee Loan Creation</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Loan/BulkEmployeeLoan">
                                                <i class="fa fa-caret-right"></i>
                                                <span>Employee Loan Process</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- PAYROLL PROCESSING (NEW SECTION) -->
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-calculator" aria-hidden="true"></i>
                                        <span>Payroll Processing</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="/bulkSalaryProcess">
                                                <i class="fa fa-caret-right"></i>
                                                <span>Employee Salary Process</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/PayrollSalaryReport/SalaryReport">
                                                <i class="fa fa-caret-right"></i>
                                                <span>Salary Processing Report</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- REPORTS -->
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                        <span>Reports</span>
                                    </a>
                                    <ul class="nav nav-children"> 
                                        <li>
                                            <a href="/PayrollSalaryReport/CTCReport">
                                                <i class="fa fa-caret-right"></i>
                                                <span>Salary Structure</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            @RenderBody()

        </div>
    </section>

    @RenderSection("scripts", required: false)

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/plugins/jquery/jquery.js"></script>
    <script src="~/plugins/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/Contents/js/bootstrap.js"></script>
    <script src="~/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/plugins/nanoscroller/nanoscroller.js"></script>
    <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/plugins/magnific-popup/magnific-popup.js"></script>
    <script src="~/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="~/plugins/dropzone/dropzone.js"></script>

    <script src="~/plugins/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/plugins/jquery-appear/jquery.appear.js"></script>
    <script src="~/plugins/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="~/plugins/flot/jquery.flot.js"></script>
    <script src="~/plugins/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/plugins/flot/jquery.flot.stack.js"></script>
    <script src="~/plugins/flot/jquery.flot.categories.js"></script>
    <script src="~/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/plugins/raphael/raphael.js"></script>
    <script src="~/plugins/morris/morris.js"></script>
    <script src="~/plugins/gauge/gauge.js"></script>
    <script src="~/plugins/snap-svg/snap.svg.js"></script>
    <script src="~/plugins/liquid-meter/liquid.meter.js"></script>
    <script src="~/plugins/ios7-switch/ios7-switch.js"></script>
    <script src="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/plugins/jquery-maskedinput/jquery.maskedinput.js"></script>
    <script src="~/plugins/jquery-datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/plugins/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="~/plugins/jquery-datatables-bs3/assets/js/datatables.js"></script>
    <script src="~/plugins/tables/datatables.users.js"></script>

    <script src="~/Contents/js/theme.js"></script>
    <script src="~/Contents/js/theme.custom.js"></script>
    <script src="~/Contents/js/theme.init.js"></script>

    <script src="~/Content/CHOSEN/chosen.jquery.min.js"></script>
    <script src="~/Content/CHOSEN/chosen.jquery.js"></script>
    <script src="~/Content/SELECT2/select2.min.js"></script>
    <script src="~/Scripts/jQueryUI/jquery-ui.min.js"></script>
    <link href="~/Scripts/jQueryUI/jquery-ui.min.css" rel="stylesheet" />

</body>
</html>