@model MendinePayroll.Models.SalaryComponentTypeModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Add*@
<div class="modal fade modal-header-color zoom-anim-dialog" id="AddSalaryComponentType" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <section class="">
                <header class="panel-heading bg-tertiary">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="panel-title  text-white">Add New SalaryComponentType</h2>
                </header>
            </section>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">SalaryComponentType <span class="required">*</span></label>
                                <div class="input-group btn-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-credit-card"></i>
                                    </span>
                                    @Html.TextBoxFor(G => G.SalaryComponentType, new { @class = "form-control" })
                                </div>
                                <span id="msgSalaryComponentType" style="color:red;"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnAddGroup" class="btn btn-tertiary" onclick="SaveSalaryComponentType()">
                    <i class="fa fa-plus-square space-right"></i> Add SalaryComponentType
                </button>
            </div>

            <div id="progress" style="display:none;">
                <div class="col-md-12 text-center">
                    <img src="~/Contents/images/ajax-loader.gif" />
                </div>
            </div>

        </div>
    </div>
</div>

@*Edit*@
<div class="modal fade modal-header-color zoom-anim-dialog" id="editSalaryComponentType" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <section class="">
                <header class="panel-heading bg-tertiary">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="panel-title  text-white">Edit SalaryComponentType</h2>
                </header>
            </section>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Salary Component Type<span class="required">*</span></label>
                                <div class="input-group btn-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-credit-card"></i>
                                    </span>
                                    @Html.TextBoxFor(G => G.SalaryComponentType, new { @class = "form-control", @id = "txtSalaryComponentTypeedit" })
                                </div>
                                <span id="msgSalaryComponentTypeedit" style="color:red;"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnUpdateGroup" class="btn btn-tertiary" onclick="return UpdateSalarycomponentType()">
                    <i class="fa fa-plus-square space-right"></i> Update SalaryComponentType
                </button>
            </div>

            <div id="progress" style="display:none;">
                <div class="col-md-12 text-center">
                    <img src="~/Contents/images/ajax-loader.gif" />
                </div>
            </div>

        </div>
    </div>
</div>

@*Group Master List*@
<section role="main" class="content-body">
    <input type="hidden" id="hdnSalaryComponentTypeID" value="0" />
    <header class="page-header">
        <h2>Salary Component Type</h2>
    </header>
    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <button id="" data-toggle="modal" data-target="#upload" class="mb-sm mt-xs mr-xs btn btn-sm btn-default text-sm text-weight-semibold">Upload Data<i class="text-tertiary fa fa-cloud-upload ml-lg"></i></button>
                <button id="" onclick="AddSalaryComponentTypeLoad();" data-toggle="modal" data-target="#AddSalaryComponentType" class="mb-sm mt-xs mr-xs btn btn-sm btn-tertiary text-sm text-weight-semibold">Add SalaryComponentType<i class="fa fa-plus ml-lg"></i></button>
            </div>
            <h2 class="panel-title">Salary Component Type  List</h2>
        </header>
        <div class="panel-body">

            <table class="table table-responsive mb-none" id="datatable-users">
                <thead>
                    <tr>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Salary Component Type</th>
                        <th class="center">MORE</th>
                        <th class="center">Action</th>
                    </tr>
                </thead>
                <tbody id="listVehicle">
                    @foreach (var items in Model.SalaryComponentTypeList)
                    {
                        <tr class="gradeX">
                            
                            <td>
                                @items.SalaryComponentType
                            </td>

                            <td class="center">
                                <a href="#" onclick="return GetSalaryComponentType(@items.Id);" data-toggle="modal" data-target="#detail">
                                    <i class="text-tertiary fa fa-arrow-circle-o-right fa-lg"></i>
                                </a>
                            </td>
                            <td class="center">
                                <a href="#" onclick="return DeleteSalaryComponentType(@items.Id);" data-toggle="" data-target="">
                                    <i class="bg-gradient-danger text-danger fa fa-trash fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </section>
    <!-- end: page -->
</section>

@*Salary Component Type Details*@
<div class="modal fade modal-header-color zoom-anim-dialog" id="detail" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="">
        <div class="modal-content">
            <section class="">
                <header class="panel-heading bg-quartenary">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="panel-title  text-white">SalaryComponentType Details</h2>
                </header>
            </section>
            <div class="modal-body">
                <div class="row">

                    <div class="col-sm-5 col-xs-5"><a class="text-muted text-weight-bold">SalaryComponentType</a></div>
                    <div class="col-sm-7 col-xs-7"><a class="text-blue text-weight-semibold"><label id="lblSalaryComponentType">Alpha</label></a></div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-quartenary" data-toggle="modal" data-target="#editSalaryComponentType" data-dismiss="modal">
                    <i class="fa fa-pencil-square-o space-right"></i> Edit
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    function AddSalaryComponentTypeLoad() {
        
        var spans = $('.ms-error');
        spans.text('');

        //MessageBox(1, 0);
    }
</script>
@* Save Salary Component*@
<script type="text/javascript">
        function SaveSalaryComponentType() {
        var jq = jQuery.noConflict();
        var SalaryComponentType = jq("#SalaryComponentType").val();
        if (SalaryComponentType == "") {
            jq("#msgSalaryComponentType").html("Please Enter SalaryComponentType");
        }
        else {
            jq("#msgSalaryComponentType").html("");
        }
        jq.ajax({
            type: "POST",
            url: '/SalaryComponentType/SaveSalaryComponentType',
            data: { "SalaryComponentType": SalaryComponentType},
            datatype: "JSON",
            success: function (data) {
                
                if (data == "Save Succesfully") {

                    swal({
                        title: "Success!",
                        text: "Salary Component Type has been Added Successfully!",
                        type: "success"
                    }).then(function () {
                        window.location.href = "/SalaryComponentType";
                    });
                }
            },
            error: function (er) {
                console.log(er);
            }
        });
    }
</script>
@* Update Salary Component*@
<script type="text/javascript">
        function UpdateSalarycomponentType() {
            var jq = jQuery.noConflict();
            var SalaryComponentTypeID = jq("#hdnSalaryComponentTypeID").val();
            var SalaryComponentType = jq("#txtSalaryComponentTypeedit").val();
            if (SalaryComponentType == "") {
                jq("#msgSalaryComponentTypeedit").html("Please Enter PayGroupName");
            }
            else {
                jq("#msgSalaryComponentTypeedit").html("");
            }
            jq.ajax({
                type: "POST",
                url: '/SalaryComponentType/UpdateSalaryComponentType',
                data: { "SalaryComponentTypeID": SalaryComponentTypeID, "SalaryComponentType": SalaryComponentType },
                datatype: "JSON",
                success: function (data) {
                    
                    if (data == "Save Succesfully") {

                        swal({
                            title: "Success!",
                            text: "Salary Component Type has been Updated Successfully!",
                            type: "success"
                        }).then(function () {
                            window.location.href = "/SalaryComponentType";
                        });
                    }
                },
                error: function (er) {
                    console.log(er);
                }
            });
        }
</script>
@*Get Salary Component By Id*@
<script>
        function GetSalaryComponentType(SalaryComponentTypeID) {
        
        var jq = jQuery.noConflict();
        jq.ajax({
            type: "POST",
            url: '/SalaryComponentType/GetSalaryComponentType',
            data: { "SalaryComponentTypeID": SalaryComponentTypeID },
            datatype: JSON,
            success: function (response) {
                
                RecordLength = response.length;
                jq("#hdnSalaryComponentTypeID").val(response[0].Id);
                jq("#lblSalaryComponentType").text(response[0].SalaryComponentType);
                jq("#txtSalaryComponentTypeedit").val(response[0].SalaryComponentType)
            },
            error: function (er) {

                console.log(er);
            }
        });
    }
</script>
@*Delete Salary Component*@
<script>
        function DeleteSalaryComponentType(SalaryComponentTypeID) {
        
        var jq = jQuery.noConflict();
        jq.ajax({
            type: "POST",
            url: '/SalaryComponentType/DeleteSalaryComponentType',
            data: { "SalaryComponentTypeID": SalaryComponentTypeID },
            datatype: JSON,
            success: function (response) {
                
                if (response == "Delete Successfully") {
                    swal({
                        title: "Success!",
                        text: "Salary Component has been Deleted Successfully!",
                        type: "success"
                    }).then(function () {
                        window.location.href = "/SalaryComponentType";
                    });
                }
            },
            error: function (er) {

                console.log(er);
            }
        });

    }
</script>
