@model MendinePayroll.Models.EmployeeListModel
@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search {
        float: right;
        width: 25% !important;
    }

    .Pagenum {
        padding: 6px !important;
        height: 34px !important;
        width: 85px !important;
        border: 1px solid #a89d9d;
    }
</style>
<section role="main" class="content-body">
    <input type="hidden" id="hdnPayGroupId" value="0" />
    <header class="page-header">
        <h2>Employee</h2>
    </header>
    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <button type="button" id="btnimport" class="mb-sm mt-xs mr-xs btn btn-sm btn-tertiary text-sm text-weight-semibold" data-target="#upload" data-toggle="modal">Import Leave</button>
                <button type="button" id="btnExportToExcel" onclick="return exportToExcel();" class="mb-sm mt-xs mr-xs btn btn-sm btn btn-primary">Export to Excel</button>
                <button type="button" id="btnCalculate" onclick="calculateAll();" style="display:none"  class="mb-sm mt-xs mr-xs btn btn-sm btn-tertiary text-sm text-weight-semibold">Process Salary</button>
                <button type="button" id="btnTrash" onclick="TrashAll();" class="mb-sm mt-xs mr-xs btn btn-danger btn-tertiary text-sm text-weight-semibold">Trash Current Salary</button>
            </div>
            <h2 class="panel-title">Employee List</h2>
        </header>
        <div style="margin-top:5px">
            <label for="PageRow">PageRow&emsp;</label>
            <select class="Pagenum" onchange="GetSearchbypagenumberResult(1, null);" id="Pagrow" name="Numberofrow">
                <option selected value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <input class="search  form-control" type="text" placeholder="Search.." onchange="Searchbyparameter(this.id);" id="searchbox" />
        </div>
        <div class="panel-body table-responsive">
            <div id="progress" style="display:none;">
                <div class="col-md-12 text-center">
                    <img src="~/Contents/images/ajax-loader.gif" />
                </div>
            </div>
            <table class="table  mb-none" id="users">
                <thead>
                    <tr>
                        <th class="sorting_asc_disabled sorting_desc_disabled"><input type="checkbox" id="checkall" class="chkclass" value="" style="height:20px;width:20px;" /></th>
                        <th>Preview</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Sl NO</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Employee Name</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Employee Code</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Post Name</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Designation</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Department</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>PayGroup Name</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Salary Details</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>Loan Details</th>
                        <th><i class="fa fa-credit-card text-muted space-right"></i>OverTime Details</th>
                        <th class="center">MORE</th>

                    </tr>
                </thead>
                <tbody id="listVehicle">
                    @*@foreach (var item in Model.emplist)
                        {
                            var checkBoxId = "chk" + item.empid;
                            <tr class="gradeX">

                                <td>
                                    <input type="checkbox" id="@checkBoxId" class="form-control chkclass" value="@item.empid" name="Areasdelete" style="height:20px;" />
                                </td>
                                <td class="center">
                                    <a href="#" onclick="return PreviewSalary('@item.sempid');" title="Click Here to Preview Salary">
                                        <i class="text-tertiary fa fa-eye fa-lg" style="font-size:20px;"></i>
                                    </a>
                                </td>
                                <td>
                                    @item.empno
                                </td>
                                <td>
                                    @item.EmployeeName
                                </td>
                                <td>
                                    @item.empcode
                                </td>
                                <td>
                                    @item.postname
                                </td>
                                <td>
                                    @item.Designation
                                </td>
                                <td>
                                    @item.Department
                                </td>
                                <td>
                                    @item.PayGroupName
                                </td>
                                <td>
                                    <a href="#" onclick="return GetEmployeSalarydetails('@item.sempid',@item.PayGroupID);" data-toggle="modal" data-target="#detail">
                                        <i class="text-tertiary fa fa-arrow-circle-o-right fa-lg"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" onclick="return GetEmployeLoandetails('@item.sempid');" data-toggle="modal" data-target="#detail">
                                        <i class="text-tertiary fa fa-arrow-circle-o-right fa-lg"></i>
                                    </a>
                                </td>

                                <td class="center">
                                    <a href="#" onclick="return GetEmployeeOverTimedetails('@item.sempid');">
                                        <i class="text-tertiary fa fa-arrow-circle-o-right fa-lg"></i>
                                    </a>
                                </td>
                                <td class="center">
                                    <a href="#" onclick="return GetEmployeedetails('@item.sempid');" data-toggle="modal" data-target="#detail">
                                        <i class="text-tertiary fa fa-arrow-circle-o-right fa-lg"></i>
                                    </a>
                                </td>

                            </tr>

                        }*@
                </tbody>
            </table>
            <label style="float:left" id="Showing_no_Row" class="mt-md"></label>
            <table style="float:right" id="#pagination">
                <tr>
                    <td colspan="12" align="right" style="text-align:right;">
                        <div>
                            <div id="divPageNumbers">
                                <ul id="pagination" class="pagination-sm"></ul>
                            </div>
                        </div>
                    </td>
                    @*<td colspan="2" align="left">
                            &nbsp;
                        </td>*@
                </tr>
            </table>
        </div>
    </section>
    <!-- end: page -->
</section>

<!-- Modal upload-->
<div class="modal fade modal-header-color zoom-anim-dialog" id="upload" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="">
        <div class="modal-content">
            <section class="">
                <header class="panel-heading bg-tertiary">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="panel-title  text-white">Upload Data</h2>
                </header>
            </section>
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-12">
                        <h5 class="text-dark text-weight-semibold">Upload Information</h5>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-tertiary btn-file">
                                        Browse&hellip; <input type="file" id="excelFile" onchange="getfilename();">
                                    </span>
                                </span>
                                <input type="text" class="form-control" id="txtFileName" readonly>
                            </div>
                        </div>
                        <span id="msgImportFile" style="color:red"></span>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <div id="progressbar" style="display:none;">
                    <div class="col-md-12 text-center">
                        <img src="~/Contents/images/ajax-loader.gif" />
                    </div>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-tertiary" id="btnimportexcelfile" onclick="return ImportEmployee();">
                    <i class="fa fa-cloud-upload space-right"></i> Upload
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/plugins/cdnjs/jquery.twbsPagination.min.js"></script>
<script>
    $(document).ready(function () {
        //
        var qsparam = "";
        var query = window.location.search.substring(1);
        var parms = query.split('&&');

        for (var i = 0; i < parms.length; i++) {
            var pos = parms[i].indexOf('=');
            if (pos > 0) {

                var key = parms[i].substring(0, pos);
                if (key == "SearchValue") {
                    var val = parms[i].substring(pos + 1);
                    qsparam = val;
                }
            }
        }


        if (qsparam != "") {

            var newqsparam = qsparam.replaceAll("%20", " ");
            qsparam = newqsparam;
        }


        $pagination.twbsPagination('destroy');
        GetSearchResult(1, qsparam);
        $("#searchbox").val(qsparam);





        //var oTable = $("#datatable-users").dataTable();
        //    .dataTable({
        //    searching: true,
        //    ordering: true,
        //});

        //oTable.fnFilter(qsparam[0]);
        loadcheck();

        $('#users').on('page.dt', function () {

            $("#checkall").prop("checked", false);
            $(".chkclass").each(function () {
                $(this).prop("checked", false);
            });
        });
        $("#checkall").change(function () {

            var checked = $(this).is(':checked');
            if (checked) {
                //
                $(".chkclass").each(function () {

                    $(this).prop("checked", true);
                });
            } else {
                $(".chkclass").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $(".chkclass").change(function () {
            //
            if ($(".chkclass").length == $(".chkclass:checked").length) {
                $("#checkall").prop("checked", true);
            } else {
                $("#checkall").prop("checked", false);
            }

        });
    });

    function GetSearchResult(PageNum, searchtype) {


        var numberofrow = $("#Pagrow").val();
        var jq = jQuery.noConflict();
        swal({
            title: "Please Wait....",
            allowEscapeKey: false,
            allowOutsideClick: false,
            onOpen: () => {
                swal.showLoading();
            }
        });
        //var model = { PlantCode: searchItem.PlantCode, UserID: searchItem.UserID, AuditType: searchItem.AuditType, sFromDate: searchItem.fromdate, sToDate: searchItem.ToDate, Page: PageNum, Pagedata: 10 }
        //var jsonData = JSON.stringify(model);
        //
        let useremail = $("#useremail").text();
        $.ajax({
            type: "POST",
            // New Mayukh
            // url: "/EmployeeList/GetEmployeeList",
            url: "/EmployeeList/GetEmployeeListNew",
            data: function () {
                var data = new FormData();
                data.append("pagenumber", PageNum);
                data.append("numberofrow", numberofrow);
                data.append("SearchValue", searchtype);
                data.append("UserEmail", useremail);
                return data;
            }(),
            contentType: false,
            processData: false,
            success: function (response) {



                $("#pagination").hide();
                $("#Showing_no_Row").text("");
                $("#listVehicle").empty();
                var Coutntotlloop = 0;
                if (response.emplist.length > 0) {
                    $("#btnShowReport").show();

                    for (var I = 0; I < response.emplist.length; I++) {

                        Coutntotlloop++;
                        var paygroupName = response.emplist[I].PayGroupName;
                        if (paygroupName == null) {
                            paygroupName = "";
                        }
                        var checkBoxId = "chk" + response.emplist[I].empid;
                        $("#listVehicle").append('<tr class="gradeX"><td>' +
                            '<input type="checkbox" id=' + "'" + checkBoxId + "'" + ' class="form-control chkclass" value="' + response.emplist[I].empid + '" name="Areasdelete" style="height:20px;" />'
                            + '</td><td class="center"><a href="#" onclick="return PreviewSalary(' + "'" + response.emplist[I].sempid + "'" + ');" title="Click Here to Preview Salary"><i class="text-tertiary fa fa-eye fa-lg" style="font-size:20px;"></i></a>' +
                            '</td><td>' + response.emplist[I].empno + '</td><td>' +
                            response.emplist[I].EmployeeName +
                            '</td><td>' +
                            response.emplist[I].empcode +
                            '</td><td>' +
                            response.emplist[I].postname +
                            ' </td><td>' +
                            response.emplist[I].Designation +
                            ' </td><td>' +
                            response.emplist[I].Department +
                            ' </td><td>' +
                            paygroupName +
                            '</td><td>' +
                            '<a href="#" onclick="return GetEmployeSalarydetails(' + "'" + response.emplist[I].sempid + "'" + ',' + "'" + response.emplist[I].PayGroupID + "'" + ');" data-toggle="modal" data-target="#detail">' +
                            '<i class= "text-tertiary fa fa-arrow-circle-o-right fa-lg" ></i ></a > ' +
                            ' </td><td>' +
                            '<a href="#" onclick="return GetEmployeLoandetails(' + "'" + response.emplist[I].sempid + "'" + ');" data-toggle="modal" data-target="#detail">' +
                            '<i class= "text-tertiary fa fa-arrow-circle-o-right fa-lg" ></i ></a > ' +
                            '</td><td class="center">' +
                            '<a href = "#" onclick = "return GetEmployeeOverTimedetails(' + "'" + response.emplist[I].sempid + "'" + ');" >' +
                            '<i class="text-tertiary fa fa-arrow-circle-o-right fa-lg"></i></a > ' +
                            ' </td><td class="center">' +
                            '<a href="#" onclick="return GetEmployeedetails(' + "'" + response.emplist[I].sempid + "'" + ');" data-toggle="modal" data-target="#detail">' +
                            '<i class= "text-tertiary fa fa-arrow-circle-o-right fa-lg" ></i ></a > ' +
                            '</td></tr>');
                    }

                    $("#pagination").show();
                    // $("#Showing_no_Row").text(response.TotalCount+" Records Found");
                    $("#Showing_no_Row").text("Showing " + (((PageNum - 1) * numberofrow) + 1) + " to " + (((PageNum - 1) * numberofrow) + Coutntotlloop) + " of " + response.TotalCount + " entries");
                    apply_pagination(response.TotalCount, numberofrow);
                }

                else {
                    $("#users tbody").empty();
                    $("#btnShowReport").hide();
                }
                swal.close();
            },
            error: function (response) {
            }
        });

    }


    function GetSearchbypagenumberResult(page, searchval) {

        $pagination.twbsPagination('destroy');

        var servl = $("#searchbox").val();
        servl = servl.trim();
        if (servl != "") {

            GetSearchResult(page, servl);
        }
        else {
            // Mayukh New
            //GetSearchResult(page, null);
            GetSearchResult(page, "");
        }
    }

    function Searchbyparameter(id) {

        $pagination.twbsPagination('destroy');
        var servl = $("#" + id).val();
        servl = servl.trim();
        if (servl != "") {

            GetSearchResult(1, servl);
        }
        else {
            GetSearchResult(1, null);
        }
    }
</script>

<script>
    var $pagination = $('#pagination'),
        totalRecords = 0,
        records = [],
        displayRecords = [],
        recPerPage = 10,
        page = 1,
        totalPages = 0;
    function apply_pagination(Datarecords, rowpage) {

        var jq = jQuery.noConflict();
        recPerPage = rowpage;

        totalRecords = Datarecords
        var totalPages = Math.ceil(totalRecords / recPerPage);
        var LimitvisiblePages = 1;
        if (totalPages > 10) {
            LimitvisiblePages = 6;
        }
        else {

            LimitvisiblePages = parseInt(totalPages);

        }
        $pagination.twbsPagination({
            totalPages: totalPages,
            visiblePages: LimitvisiblePages,
            initiateStartPageClick: false,
            onPageClick: function (event, page) {

                displayRecordsIndex = Math.max(page - 1, 0) * recPerPage;
                var servl = $("#searchbox").val();
                servl = servl.trim();
                if (servl != "") {

                    GetSearchResult(page, servl);
                }
                else {
                    GetSearchResult(page, null);
                }
            }

        });
    }
</script>




<script>
    function exportToExcel() {

        $("#progress").show();
        $.ajax({
            type: "Post",
            url: '@Url.Action("ExportEmployeeInExcel", "EmployeeList")',
            success: function (response) {

                $("#progress").hide();
                window.location.href = '/EmployeeList/DownloadExcel?fileName=' + response + '';
            },
            error: function (er) {
                console.log(er)
            }

        });
    }
</script>

<script>

    function ImportEmployee() {
        var jq = jQuery.noConflict();

        $("#progressbar").show();
        var excelFile = jq("#excelFile").get(0).files[0];

        jq.ajax({

            type: "Post",
            url: '/EmployeeList/ImportEmployee',
            data: function () {
                var data = new FormData();
                data.append("excelFile", excelFile);
                return data;
            }(),

            contentType: false,
            processData: false,

            success: function (data) {

                $("#progressbar").show();
                if (data == "1") {

                    swal({
                        title: "Success!",
                        text: "Employee File Has Been Imported Successfully!",
                        type: "success"
                    }).then(function () {
                        window.location.href = "/EmployeeList";
                    });


                }
                else {
                    swal("Error", "Some error occured,Please try again.", "error");
                    jq("#progress").hide();
                    jq("#btnAddEmployee").show();
                }


            },
            error: function (er) {

            }
        });

    }

</script>

<script>
    function getfilename() {
        var jq = jQuery.noConflict();

        var excelFile = jq("#excelFile").get(0).files[0];
        var fileName = excelFile.name;
        jq("#txtFileName").val(fileName);
        var extension = fileName.substring(fileName.lastIndexOf('.') + 0);
        if (extension != ".xls" && extension != ".xlsx") {
            jq("#msgImportFile").html("Please upload only excel file");
            jq("#btnimportexcelfile").attr("disabled", true);
        }
        else {
            jq("#msgImportFile").html("");
            jq("#btnimportexcelfile").attr("disabled", false);
        }

    }
</script>


<script>

    function GetEmployeedetails(Empid) {

        var Search = $("#searchbox").val();
        window.location.href = "/EmployeeList/EmployeeDetails?cal=" + Empid + "&&SearchValue=" + Search + "";
    }
    function GetEmployeLoandetails(Empid) {

        var Search = $("#searchbox").val();
        window.location.href = "/EmployeeList/EmployeeLoanDetails?cal=" + Empid + "&&SearchValue=" + Search + "";
    }
    function viewsalary() {

        var Search = $("#searchbox").val();
        window.location.href = "/EmployeeList/ViewSalary?SearchValue=" + Search + "";
    }

    function GetEmployeeOverTimedetails(Empid) {

        var Search = $("#searchbox").val();
        window.location.href = "/EmployeeList/OverTimeDetails?cal=" + Empid + "&&SearchValue=" + Search + "";
    }
    function GetEmployeSalarydetails(Empid, PayGroupID) {


        var Search = $("#searchbox").val();
        window.location.href = "/EmployeeList/EmployeeSalaryDetails?Empid=" + Empid + "&&PayGroupID=" + PayGroupID + "&&SearchValue=" + Search + "";
    }

    function PreviewSalary(empid) {
        var Search = $("#searchbox").val();
        window.location.href = "/EmployeeList/EmployeePayableSalary?cal=" + empid + "&&SearchValue=" + Search + "";
    }

</script>
<script>


    function loadcheck() {
        $.ajax({
            type: "POST",
            url: '/EmployeeList/EmpSalaryCheck',
            data: {},
            datatype: "JSON",
            success: function (response) {
                if (response == "1") {
                    $("#btnCalculate").attr("disabled", true);
                }
                else {
                    $("#btnCalculate").attr("disabled", false);
                }
            },
            error: function () {

            }
        });
    }
</script>


<script>



</script>

<script>
    function calculateAll() {
        var SelectedRow = [];
        var checkbox_value = [];
        var jq = jQuery.noConflict();
        jq("#progress").show();
        $("#users tbody  input[type=checkbox]:checked").each(function () {
            //
            var row = $(this).val();

            SelectedRow.push(row);
        });
        //var table = jq('#datatable-users').DataTable();
        //var data = table.column(0).data();



        //$("table > tbody > tr").each(function () {
        //    var Rowid = ($(this).find('.chkclass').val());

        //    SeletedRow.push(Rowid);
        //});
        $.ajax({

            url: '/EmployeeList/CalculateAllEmployeeSalary',
            type: 'POST',
            data: function () {
                var data = new FormData();
                data.append("modelParameter", SelectedRow);
                return data;
            }(),
            contentType: false,
            processData: false,
            success: function (data) {

                jq("#progress").hide();
                if (data == "Saved Successfully") {

                    swal({
                        title: "Success!",
                        text: "Employee Salary has been Added Successfully!",
                        type: "success"
                    }).then(function () {
                        window.location.href = "/EmployeeList";
                    });
                }
                else {
                    swal({
                        title: "Warning!",
                        text: "All Employee Salary not inserted!",
                        type: "warning"
                    }).then(function () {
                        window.location.href = "/EmployeeList";
                    });
                }
            },
            error: function (er) {
                console.log(er);
            }
        });
    }
</script>

<script>
    function TrashAll() {
        var jq = jQuery.noConflict();
        var SelectedRow = [];
        $("#users tbody  input[type=checkbox]:checked").each(function () {

            var row = $(this).val();

            SelectedRow.push(row);
        });

        var length = SelectedRow.length;
        //return false;
        if (length > 0) {
            var deleteconfirm = confirm("Are You sure To Delete?")
            if (deleteconfirm == true) {
                $.ajax({

                    url: '/EmployeeList/TrashAllEmployeeSalary',
                    type: 'POST',
                    data: function () {
                        var data = new FormData();
                        data.append("modelParameter", SelectedRow);
                        return data;
                    }(),
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        jq("#progress").hide();
                        if (data > 0) {

                            swal({
                                title: "Success!",
                                text: "Employee Salary has been Deleted Successfully!",
                                type: "success"
                            }).then(function () {
                                window.location.href = "/EmployeeList";
                            });
                        }

                    },
                    error: function (er) {
                        console.log(er);
                    }
                });
            }
        }
    }

</script>
